{% extends "base.html" %}

{% block app_content %}
    <div class="container-fluid">
        <h1>
            List of Artist
        </h1>
        {% if artist %}
        <div class="row" style="margin-left:0px;">
            {% for artist in artist %}
            <div class = "col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <a href="{{ url_for('album', artist_id=artist.id) }}">
                    <img src="{{ artist.artistlogo }}">
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>
            No Artist Available.
        </p>
        {% endif %}
    </div>
{% endblock %}